.pokedex-info {
  padding: 0px 20px 20px 20px;
}

.pokedex-info h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.pokedex-info table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

.pokedex-info th,
.pokedex-info td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.pokedex-info th {
  background-color: #af7070;
}

.pokedex-info tbody tr:hover {
  background-color: #ecdbdb;
}

.error {
  color: #d9534f;
  margin-bottom: 10px;
}
